body {
    height: 100%;
    width: auto;
    background-color: black;
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 3rem;
    text-align: center;
    margin: 0 2vw;
}

h1 {
    font-size: 1.5rem;
}

.container {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.container div:first-child {
    align-self: flex-start;
}

.lyric-insert {
    width: 50vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lwr {
    display: flex;
    width: 70%;
    justify-content: space-between;
}

.time, .date {
    font-size: 1.5rem;
}